<div class="content_line">
  <div class="content_side">
    <h3>アカウント</h3>
    <h4><%= link_to "プロフィール", users_profile_path, class: "link_deco_none" %></h4>
  </div>
  <div class="content_main">
  <%= render "shared/flash" %>
  <table class="account_table">
    <tr>
      <th><h2>アカウント</h2></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>* * * * * * * * *</td>
    </tr>
    <tr>
      <td colspan="2"><%= link_to "編集", edit_user_registration_path, class: "btn_submit" %></td>
    </tr>
  </table>
  </div>
</div>
